@model WayraWasi.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h1>Error 404 - Página no encontrada</h1>
    @if (Model.ShowRequestId)
    {
        <p>RequestId: <strong>@Model.RequestId</strong></p>
        <br/>
        <p>Mensaje de Error: <strong>@Model.RequestId</strong></p>
    }
    <p>Lo sentimos, la página que buscas no se encuentra.</p>
</body>
</html>